[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coincurve = "~=15.0.0"
green = "~=3.2.5"
protobuf = "~=3.14.0"
pycryptodome = "~=3.9.9"
ecdsa = "==0.16.0"
groestlcoin-hash = "~=1.0.3"
eth-keyfile = "~=0.5.1"
py-crypto-hd-wallet = "~=1.0.1"

[dev-packages]

[requires]
python_version = "3.8"
